<form action="/square/results">
  <label for="square_id">Enter a number</label><br>
  <input id="square_id" name="number" placeholder="What number do you want to square?"><br>
  <button>Calculate square</button><br>
</form>
